<div class="card-body">
    <span class="card-description">
        {{description}}
    </span>
    <div class="card-price">
        <div class="icon">
            <app-icon-img img="/assets/img/icon-ethereum.svg"></app-icon-img>
        </div>
        <span>
            {{price}} ETH
        </span>
    </div>
    <div class="card-time-left">
        <div class="icon">
            <app-icon-img img="/assets/img/icon-clock.svg"></app-icon-img>
        </div>
        <span>
            {{daysLeft}} days left
        </span>
    </div>
</div>