/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}


/* 
    Basic styles
*/

:root {
    /* COLORS */
    --color-primary-soft-blue: hsl(215, 51%, 70%);
    --color-primary-cyan: hsl(178, 100%, 50%);
    /* NEUTRAL */
    --color-very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --color-very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --color-very-dark-blue-line: hsl(215, 32%, 27%);
    --color-white: hsl(0, 0%, 100%);
    /* 
        Typography
    */
    --font-size: 18px;
    --font-weight-1: 300;
    --font-weight-2: 400;
    --font-weight-3: 600;
}

@font-face {
    font-family: 'Outfit';
    src: url('/assets/font/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Outfit-light';
    src: url('/assets/font/Outfit-ExtraLight.ttf');
}